:root {
	--grey: #c4c4c4;
	--light-grey: #dfdfdf;
	--grey: #555555;
	--light-dark: #313131;

	--white: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

/* FORMULÁRIO */
#cartao-form > div {
	margin-bottom: 40px;
}
.form-control {
	border: 0px;
	border-radius: 0;
	border-bottom: 1px solid;
}
.form-control:focus{
    box-shadow: none;
}
.form-group{
	position: relative;
	margin-bottom: 0;
	font-family: Arial, sans-serif;
}
.form-group label{
	position: absolute;
	bottom: 0;
	transition: 0.4s;
	color: #aaa;
	font-family: Arial, sans-serif;
}
.form-group input:focus + label, .form-group input:not(:placeholder-shown) + label{
	bottom: 25px;
	font-size: 14px;
	color: #666;
}

/* CRIANDO CARTÃO DE CREDITO */

.card-container	{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.credit-card {
	width: 280px;
	height: 170px;

	text-transform: uppercase;
    font-size: 12px;
    color: var(--light-dark);
    letter-spacing: 0.3px;

    position: relative;
    transition: transform 0.6s ease-in-out;
}

.credit-card .front, .credit-card .back {
	position: absolute;
	top: 0;
	left: 0;

	padding: 15px;
	border-radius: 10px;
	background: linear-gradient(90deg,#c5c5c5,#e9e9e9);
	box-shadow: 0 2px 7px rgb(0 0 0 / 60%);

	width: 100%;
	height: 100%;

	overflow: hidden;
	backface-visibility: hidden;

	transition: transform 0.65s cubic-bezier(0.63, -0.19, 0.48, 1.47), color 0.35s ease-in-out;
}

.credit-card .front {
	transform: perspective(800px) rotateY(0deg);
}

.credit-card .back {
	transform: perspective(800px) rotateY(180deg);
}

/* BACKGROUND DO CARTÃO */

.credit-card .front::before, .credit-card .back::before, .cpf-card::before{
	content: '';
	width:340px;
	height: 340px;
    border: 1px solid #999;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    top: -185px;
    right: -95px;
    background: rgba(0,0,0,.06);
    mix-blend-mode: overlay;
}

.credit-card .front::after, .credit-card .back::after, .cpf-card::after{
	content: '';
	width:360px;
	height: 320px;
    border: 1px solid #999;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
   	bottom: -160px;
    left: -135px;
    background:  rgba(0,0,0,.12);
    mix-blend-mode: overlay;
}

/* ANIMAÇÃO CARTÃO VIRANDO */

.front-flip {
	transform: perspective(800px) rotateY(-180deg) !important;
}

.back-flip {
	transform: perspective(800px) rotateY(0deg) !important;
}

/* ELEMENTOS DO CARTAO */

.credit-card .front #card-brands {
	max-width: 59px;
    height: 39px;
    border-radius: 4px;
    background: #aaa;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;

    margin-bottom: 30px;
}

.credit-card .front .card-number {
    letter-spacing: 3px;
    font-size: 16px;
    padding: 10px 0;
}

.credit-card .front .card-user-name {
	white-space: nowrap;
	overflow: hidden;
}

.credit-card .back .black-strip {
	background: var(--light-dark);
	height: 40px;
	z-index: 2;
}

.credit-card .back .card-security-number {
	position: relative;

	background: var(--white);
	margin: 10px 0;
	padding: 5px;

	text-align: right;
	color: #222;
}

.credit-card .back .card-security-number:after {
	content: '';
	position: absolute;
	right: -5px;
	top: -7px;

	height: 42px;
	width: 42px;
	border: 2px solid #22dd22;
	border-radius: 50%;
}

/* CPF */

.cpf-card {
	position: absolute;
	transform: translateX(500px);

	width: 280px;
	height: 170px;
	padding: 15px;
	border-radius: 10px;
	background: linear-gradient(90deg,#83c1d2,#c9e0e7);
	box-shadow: 0 2px 7px rgb(0 0 0 / 60%);
	overflow: hidden;

	transition: transform 0.6s ease-in-out;

	font-size: 15px;
	text-transform: uppercase;
}

.cpf-card > div {
	margin-bottom: 12px;
}

/* ANIMAÇÕES ENTRE CARTÕES */

.card-slip {
	transform: translateX(0px);
}

.credit-card-slip {
	transform: translateX(-500px);
}

/* CORES DE FUNDO DOS CARTÕES */

.visa-background .card-number,
.mastercard-background .card-number,
.hipercard-backaground .card-number,
.american-express-background .card-number {
	filter: drop-shadow(0 1px 1px #000);
}

.visa-background {
    background: linear-gradient(90deg,#021670,#5168d1) !important;
    color: #ffffff;
    animation: slidein 0.35s ease-in-out;
}

.mastercard-background {
	background: linear-gradient(90deg,#35475b,#5a8296) !important;
	color: #ffffff;
	animation: slidein 0.35s ease-in-out;
}

.hipercard-background {
	background: linear-gradient(90deg,#7e1b1d,#bf3131) !important;
	color: #ffffff;
	animation: slidein 0.35s ease-in-out;
}

.elo-background {
	background: linear-gradient(90deg,#111,#222) !important;
	color: #ffffff;
	animation: slidein 0.35s ease-in-out;
}

.american-express-background {
	background: linear-gradient(90deg,#255a79,#3391c7) !important;
	color: #ffffff;
	animation: slidein 0.35s ease-in-out;
}

@keyframes slidein {
  from { filter: opacity(50%) }
  to   { filter: opacity(100%) }
}

/* BANDEIRAS */

.visa-brand {
	background-image: url(../img/visa.png) !important;
	background-color: transparent !important; 
}

.mastercard-brand{
	background-image: url(../img/mastercard.png) !important;
	background-color: transparent !important; 
}

.hipercard-brand{
	max-width: 95px !important;
	background-image: url(../img/hipercard.png) !important;
	background-color: transparent !important; 
}

.elo-brand{
	background-image: url(../img/elo.png) !important;
	background-color: transparent !important; 
}

.american-express-brand {
	background-image: url(../img/american-express.png) !important;
	background-color: transparent !important; 
}